$color-primary: #606060;
$color-secondary: #5c8727;
$color-link: #959594;
$color-sideborder: #707272;
$color-blue:#0f72a7;
$color-border-content: #a3a4a4;
$color-bg-content: #eeedeb;
$color-bg-gray: #606060;
$color-bg-footer: #EBEAE8;
html {
    // font-size: 62.5%;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: $color-primary;
}

p {}

//Links
a {
    text-decoration: none;
    color: $color-secondary;
    &:hover {
        color: $color-secondary;
        text-decoration: underline;
    }
}

.text-bold {
    font-weight: bold
}

strong {
    line-height: 15px;
    color: $color-blue;
    font-weight: bold;
    .main-content & a,
    .main-content p a {
        color: $color-blue;
        &:hover {
            text-decoration: underline !important;
        }
    }
}

.nav-item .nav-link {
    text-transform: uppercase;
    color: $color-primary !important;
    &:hover {
        color: $color-secondary !important;
        text-decoration: none!important;
    }
}

// form control
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, .25);
}

.navbar {
    padding: .5rem 0 !important;
    @media(min-width: 768px) {
        padding-bottom: 1px !important;
    }
    .dropdown-menu {
        margin: 0;
    }
}

//Topbar
#topbar {
    .form-inline {
        margin-top: -4px !important;
    }
    .form-control {
        height: 25px;
        border-radius: 3px;
    }
    .nav-item .nav-link {
        text-transform: uppercase;
        color: $color-primary !important;
        &:hover {
            color: $color-secondary !important;
            text-decoration: none!important;
        }
    }
}

//Primary Nav
#primary-nav {
    .nav-item {
        border-bottom: 3px solid transparent;
        margin-left: 1rem;
        &:hover,
        &.active {
            border-bottom-color: $color-secondary;
        }
    }
}

//Primary Dropdown
.dropdown {
    &-menu {
        display: none;
        padding: 5px;
    }
    &:hover>&-menu {
        display: block;
        top: 109%;
    }
    &-toggle::after {
        display: none
    }
    &-item {
        color: $color-primary;
    }
    &-item.active {
        background-color: $color-secondary;
        color: #fff;
    }
}

@media (max-width: 991px) {
    //Primary Nav
    #primary-nav {
        .nav-item {
            margin-left: 0rem;
        }
    }
}

@media (min-width: 768px) {
    //Topbar
    #topbar {
        position: absolute;
        top: 15px;
        right: 15px;
        margin-left: auto !important;
        .nav-item.active {
            font-weight: bold
        }
        .nav-link {
            padding: 0 inherit;
            display: inline;
            color: $color-link;
        }
        .nav-link:hover {
            background-color: #eee;
        }
        .nav-item:not(:first-of-type)::before {
            content: " | ";
        }
    } //Primary nav
    #primary-nav {
        margin-top: 50px
    }
}

#banner {
    position: relative;
    .page-header {
        position: absolute;
        bottom: 0;
        border-bottom: 7px solid #fff;
        min-width: 250px;
        margin-bottom: 0;
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
        border-bottom: 7px solid #fff;
        min-width: 248px;
        text-shadow: 0px 0px 2px #969696;
        .page-title {
            display: inline-block;
            width: 100%;
            margin-bottom: 6px;
            padding: 8px 10px;
            background: #5c8727;
        }
    }
    .header-image {
        width: 100%;
        height: 190px;
        background: url(/sites/all/themes/oakgrovetech/images/sub-company.jpg) 50% 50% no-repeat;
        background-size: cover;
        background-image: url(../images/sub-learning.jpg)
    } // .header-bling {
    //     display: block;
    //     position: absolute;
    //     top: 30px;
    //     width: 100%;
    //     height: 65px;
    //     background: url(../images/bg-bracket-sub.png) 50% 0 no-repeat;
    // }
}

#page-container {
    margin-top: 25px; // .sidebar-bling {
    //     position: absolute;
    //     top: 300px;
    //     right: 0;
    //     left: 0;
    //     margin: 0 auto;
    //     width: 100%;
    //     height: 312px;
    //     background: url(../images/bg-brackets.png) 50% 0 no-repeat;
    // }
    // @media(min-width: 1125px){
    //     .sidebar-bling {
    //         background: url(../images/bg-brackets.png) 35% 0 no-repeat;
    //     }
    // }
    .main-content {
        .breadcrumb {
            background-color: transparent;
            padding: 0rem 0rem;
            font-size: 1.2rem;
            .breadcrumb-item+.breadcrumb-item::before {
                content: ">" !important;
            }
        }
        .article {
            &-title {
                margin-bottom: 20px;
                color: $color-secondary;
                font-size: 18px;
                font-size: 1.8rem;
            }
            h4 {
                color: #0f72a7;
                font-size: 1.2rem;
            }
        }
    }
    .content-sidebar {
        padding-top: 25px;
        .sidebar-module {
            border: 1px solid $color-sideborder;
        }
        #sidebar-slider {
            #carouselExampleControls {
                .carousel-item {
                    .carousel-title {
                        font-size: 1rem;
                        text-transform: uppercase;
                        margin: 0 0 10px 0;
                        color: $color-primary;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .item-content {
                        height: 125px;
                        overflow: hidden;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            width: 100%;
                            height: auto;
                        }
                        .carousel-title-inner {
                            color: $color-secondary;
                            font-size: 1.3rem;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }
                .control {
                    width: 100%;
                    position: absolute;
                    bottom: -17px;
                    a {
                        color: $color-link;
                        &:hover {
                            color: $color-primary
                        }
                        &.carousel-control-prev {
                            margin-left: -20px;
                        }
                        &.carousel-control-next {
                            margin-right: -20px;
                        }
                    }
                }
            }
        }
        .fancybox {
            .fancy-title {
                margin: 0;
                background: $color-secondary;
                text-transform: uppercase;
                color: #fff;
                font-size: 1rem;
                font-weight: normal;
            }
            .fancy-field {
                .fancy-items {
                    .fancy-item {
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }
}

.main-content {
    .flexslider {
        .flex-caption {
            padding: 2%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }
        .flex-direction-nav a {
            height: 50px;
        }
    }
    .flexslider {
        .slides {
            li {
                height: 250px;
                overflow: hidden;
                 :first-child {
                    width: 100%;
                    height: 200px;
                }
                iframe {
                    border: none;
                    /* width: 300px; */
                    /* height: 100px; */
                    margin: 0;
                    padding: 0;
                    /* opacity: 0.8; */
                    display: block;
                }
                .player .vp-player-layout {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: block;
                }
            }
        }
    } // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .flexslider {
            .slides {
                li {
                    height: 300px;
                     :first-child {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
        }
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .flexslider {
            .slides {
                li {
                    height: 400px;
                     :first-child {
                        width: 100%;
                        height: 350px;
                    }
                }
            }
        }
    } // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .flexslider {
            .slides {
                li {
                    height: 350px;
                     :first-child {
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .flexslider {
            .slides {
                li {
                    height: 400px;
                     :first-child {
                        width: 100%;
                        height: 350px;
                    }
                }
            }
        }
    }
}

#home-banner {
    .flexslider {
        margin: 0;
        border: none;
        overflow: hidden;
        .slides {
            img {
                width: auto;
                display: block;
            }
        }
        .flex-direction-nav a {
            height: 45px;
            margin: -20px 0 0;
            position: absolute;
            top: 87%;
            right: 21%;
            opacity: 1;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
            &::before {
                font-size: 30px;
            }
        }
        .flex-direction-nav .flex-prev {
            display: none
        }
        .flex-control-nav {
            width: 100%;
            position: absolute;
            top: 87%;
            right: -240px;
            ;
            text-align: center;
            z-index: 100;
        }
        @media(max-width: 767px) {
            .flex-control-nav {
                display: none;
            }
        }
        .flex-control-paging li a {
            color: transparent;
            background: rgba(0, 0, 0, .5);
            &.flex-active {
                background: #fff;
            }
        }
    }
    .item-container {
        height: 435px;
        background: url(../images/slideshows/background1_0.jpg) 50% 50% no-repeat;
        background-size: cover;
        .texts {
            h1 {
                padding: 0;
                font-size: 3.2rem;
                color: #fff;
                text-transform: uppercase;
                font-weight: normal;
                margin-top: 0;
            }
            h3 {
                font-size: 2.3rem;
                color: #fff
            }
            .item-link {
                background: rgba(0, 0, 0, .5);
                a {
                    color: #fff;
                    display: inline-block;
                    font-size: 1.4rem;
                }
            }
            .global-link {
                position: absolute;
                bottom: 0;
                a {
                    color: #fff;
                    margin: 0 auto;
                    font-size: 1.2rem;
                }
            }
        }
        .img {
            .item-image {
                display: inline-block;
                text-align: right;
            }
        }
        @media(max-width: 767px) {
            .img .item-image {
                width: 60%;
                display: inline-block;
            }
        }
    }
    .item-container-1 {
        background-image: url(../images/slideshows/background2.jpg);
    }
    .item-container-2 {
        background-image: url(../images/slideshows/background3.jpg);
    }
    .item-container-3 {
        background-image: url(../images/slideshows/background4.jpg);
    }
    .item-container-4 {
        background-image: url(../images/slideshows/background5.jpg);
    }
}

#ondeck {
    margin: 45px 0;
    .block-title {
        font-size: 2.8rem;
        color: #000;
        text-transform: uppercase;
        font-weight: 300;
    }
    .flexslider {
        margin-top: 10px;
        margin-bottom: 0px;
        .slides {
            li {
                height: 200px;
                .slide-box {
                    border: 1px solid $color-sideborder;
                    padding: 15px;
                    height: 100%;
                    overflow: hidden;
                    h2 {
                        color: #111;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        margin: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    a {
                        font-size: 1.4rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .box-content {
                        img {
                            max-width: 108px;
                            max-height: 90px;
                            width: 108px;
                            height: 90px;
                        }
                        span {
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .flex-direction-nav a {
            height: 45px;
            transition: none;
        }
    }
}

//Footer
.page-footer {
    margin-top: 45px;
    padding: 40px 0;
    background: $color-bg-footer;
    a {
        color: #8A8A8A;
    }
    .col-lg-3 {
        padding-right: 5px;
    }
    .footer-nav-item {
        .link-hover:hover {
            cursor: pointer;
            text-decoration: none !important;
            background-color: #eee;
            a {
                text-decoration: none !important;
            }
        }
         :first-child {
            margin-bottom: 5px;
        }
    }
    .copyright {
        margin-top: 10px;
        font-size: 1.2rem;
    }
}

.portfolio-container {
    .portfolio-control {
        .controls {
            a {
                cursor: pointer;
                color: #fff;
                background-color: #a6a6a6;
                border-color: darken($color: #a6a6a6, $amount: 5);
            }
            a.mixitup-control-active,
            a.active,
            a:active,
            a:focus {
                background-color: $color-secondary;
                box-shadow: 0 0 0 0.2rem darken($color: $color-secondary, $amount: 1);
                border-color: darken($color: $color-secondary, $amount: 2)
            }
        }
    }
    .portfolio-content {
        .item {
            height: 390px;
            background: $color-bg-content;
            .item-box {
                margin: 0;
                border: 1px solid $color-border-content;
                h4 {
                    background: #fff;
                    a {
                        text-decoration: none;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
                .item-image {
                    text-decoration: none;
                    color: #527c23;
                    display: inline-block;
                    height: 155px;
                    width: 100%;
                    img {
                        width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .item-desc {
                .client,
                .nature-of-work {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.portfolio-sidebar {
    .fancybox {
        .fancy-background-box {
            background: $color-bg-content;
        }
        h4 {
            color: #0f72a7;
            font-size: 1.2rem;
        }
        .links {
            .fancy-items {
                .fancy-item {}
            }
        }
    }
}

// News section
.news {
    .news-items {
        .news-item {
            &.featured {
                background: #eee;
                a {
                    height: 250px;
                }
            }
            border-bottom: 1px solid #ccc;
            a {
                height: 140px;
                img {
                    max-height: 100%;
                }
            }
            .title {
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
}

#page-container .news-sidebar {
    .fancybox {
        .fancy-title {
            background: $color-bg-gray;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $color-secondary;
        }
        &.active .page-link {
            color: #ffffff;
            background: $color-secondary;
            border-color: $color-secondary;
        }
    }
}

.clients {
    strong {
        color: $color-primary;
    }
    .client-items {
        .client-item {
            display: block;
            height: 125px;
            background-position: 0 top;
            background-repeat: no-repeat;
            background-size: 100% 200%;
            overflow: hidden;
            &:hover {
                background-position: 0 bottom;
            }
        }
        .client-item-1 {
            background-image: url(../images/client/1.jpg);
        }
        .client-item-2 {
            background-image: url(../images/client/2.jpg);
        }
        .client-item-3 {
            background-image: url(../images/client/3.jpg);
        }
        .client-item-4 {
            background-image: url(../images/client/4.jpg);
        }
        .client-item-5 {
            background-image: url(../images/client/5.jpg);
        }
        .client-item-6 {
            background-image: url(../images/client/6.jpg);
        }
    }
}

.capability {
    strong {
        color: $color-primary;
    }
    .capability-items {
        .capability-item {
            border-color: $color-secondary !important;
            border-bottom-color: transparent;
            margin-bottom: 0;
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
                width: 100%;
                height: 55px;
                overflow: hidden;
            }
            .img-container {
                height: 165px;
                overflow: hidden;
                a {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    img {
                        width: 100%;
                        max-height: 100%;
                        height: 100%;
                    }
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background: transparent;
                    }
                }
            }

            &:hover{
                a{
                    background: rgb(92, 135, 39);
                    color: #fff;
                }
                .img-container {
                    a {
                        span {
                            background: rgba(92, 135, 39, 0.6);
                        }
                    }
                }
            }
        }
    }
}