html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #606060; }

a {
  text-decoration: none;
  color: #0f72a7; }
  a:hover {
    color: #0f72a7;
    text-decoration: underline; }

.sidebar-module a,
.sidebar-module .slide-box a {
  color: #5c8727; }
  .sidebar-module a:hover,
  .sidebar-module .slide-box a:hover {
    color: #5c8727;
    text-decoration: underline; }

.slide-box a {
  color: #5c8727; }
  .slide-box a:hover {
    color: #5c8727;
    text-decoration: underline; }

.news .title a,
.blogs .title a {
  color: #5c8727; }
  .news .title a:hover,
  .blogs .title a:hover {
    color: #5c8727;
    text-decoration: underline; }

.text-bold {
  font-weight: bold; }

strong {
  line-height: 15px;
  color: #606060;
  font-weight: bold; }

strong a {
  line-height: 15px;
  color: #0f72a7;
  font-weight: bold; }
  strong a:hover {
    text-decoration: underline;
    color: #0f72a7; }

.nav-item .nav-link {
  text-transform: uppercase;
  color: #606060 !important; }
  .nav-item .nav-link:hover {
    color: #5c8727 !important;
    text-decoration: none !important; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25); }

.navbar {
  padding: .5rem 0 !important; }
  @media (min-width: 768px) {
    .navbar {
      padding-bottom: 1px !important; } }
  .navbar .dropdown-menu {
    margin: 0; }

#topbar .form-inline {
  margin-top: -4px !important; }
#topbar .form-control {
  height: 25px;
  border-radius: 3px; }
#topbar .nav-item .nav-link {
  text-transform: uppercase;
  color: #606060 !important; }
  #topbar .nav-item .nav-link:hover {
    color: #5c8727 !important;
    text-decoration: none !important; }

#primary-nav .nav-item {
  border-bottom: 3px solid transparent;
  margin-left: 1rem; }
  #primary-nav .nav-item:hover, #primary-nav .nav-item.active {
    border-bottom-color: #5c8727; }

.dropdown-menu {
  display: none;
  padding: 5px; }
.dropdown:hover > .dropdown-menu {
  display: block;
  top: 109%; }
.dropdown-toggle::after {
  display: none; }
.dropdown-item {
  color: #606060; }
.dropdown-item.active {
  background-color: #5c8727;
  color: #fff; }

@media (max-width: 991px) {
  #primary-nav .nav-item {
    margin-left: 0rem; } }
@media (min-width: 768px) {
  #topbar {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-left: auto !important; }
    #topbar .nav-item.active {
      font-weight: bold; }
    #topbar .nav-link {
      padding: 0 inherit;
      display: inline;
      color: #959594; }
    #topbar .nav-link:hover {
      background-color: #eee; }
    #topbar .nav-item:not(:first-of-type)::before {
      content: " | "; }

  #primary-nav {
    margin-top: 50px; } }
#banner {
  position: relative; }
  #banner .page-header {
    position: absolute;
    bottom: 0;
    border-bottom: 7px solid #fff;
    min-width: 250px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-bottom: 7px solid #fff;
    min-width: 248px;
    text-shadow: 0px 0px 2px #969696; }
    #banner .page-header .page-title {
      display: inline-block;
      width: 100%;
      margin-bottom: 6px;
      padding: 8px 10px;
      background: #5c8727; }
  #banner .header-image {
    width: 100%;
    height: 190px;
    background: url(/sites/all/themes/oakgrovetech/images/sub-company.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-image: url(../images/sub-learning.jpg); }

#page-container {
  margin-top: 25px; }
  #page-container .main-content .breadcrumb {
    background-color: transparent;
    padding: 0rem 0rem;
    font-size: 1.2rem; }
    #page-container .main-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: ">" !important; }
  #page-container .main-content .article-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5c8727;
    font-size: 18px;
    font-size: 1.8rem; }
  #page-container .main-content .article h4 {
    color: #0f72a7;
    font-size: 1.2rem; }
  #page-container .content-sidebar {
    padding-top: 25px; }
    #page-container .content-sidebar .sidebar-module {
      border: 1px solid #707272; }
    #page-container .content-sidebar .sidebar-title {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #5c8727;
      font-size: 1.5rem; }
    #page-container .content-sidebar #sidebar-slider #carouselExampleControls .carousel-item .carousel-title {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: #606060;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #page-container .content-sidebar #sidebar-slider #carouselExampleControls .carousel-item .item-content {
      height: 125px;
      overflow: hidden; }
      #page-container .content-sidebar #sidebar-slider #carouselExampleControls .carousel-item .item-content img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto; }
      #page-container .content-sidebar #sidebar-slider #carouselExampleControls .carousel-item .item-content .carousel-title-inner {
        color: #5c8727;
        font-size: 1.3rem;
        font-weight: bold; }
        #page-container .content-sidebar #sidebar-slider #carouselExampleControls .carousel-item .item-content .carousel-title-inner:hover {
          text-decoration: underline !important; }
    #page-container .content-sidebar #sidebar-slider #carouselExampleControls .control {
      width: 100%;
      position: absolute;
      bottom: -17px; }
      #page-container .content-sidebar #sidebar-slider #carouselExampleControls .control a {
        color: #959594; }
        #page-container .content-sidebar #sidebar-slider #carouselExampleControls .control a:hover {
          color: #606060; }
        #page-container .content-sidebar #sidebar-slider #carouselExampleControls .control a.carousel-control-prev {
          margin-left: -20px; }
        #page-container .content-sidebar #sidebar-slider #carouselExampleControls .control a.carousel-control-next {
          margin-right: -20px; }
    #page-container .content-sidebar .fancybox .fancy-title {
      margin: 0;
      background: #5c8727;
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      font-weight: normal; }
    #page-container .content-sidebar .fancybox .fancy-field .fancy-items .fancy-item {
      padding: 0.5rem 0; }

.main-content .flexslider .flex-caption {
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0; }
.main-content .flexslider .flex-direction-nav a {
  height: 50px; }
.main-content .flexslider .slides li {
  height: 250px;
  overflow: hidden; }
  .main-content .flexslider .slides li :first-child {
    width: 100%;
    height: 200px; }
  .main-content .flexslider .slides li iframe {
    border: none;
    /* width: 300px; */
    /* height: 100px; */
    margin: 0;
    padding: 0;
    /* opacity: 0.8; */
    display: block; }
  .main-content .flexslider .slides li .player .vp-player-layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block; }
@media (min-width: 576px) {
  .main-content .flexslider .slides li {
    height: 300px; }
    .main-content .flexslider .slides li :first-child {
      width: 100%;
      height: 250px; } }
@media (min-width: 768px) {
  .main-content .flexslider .slides li {
    height: 400px; }
    .main-content .flexslider .slides li :first-child {
      width: 100%;
      height: 350px; } }
@media (min-width: 992px) {
  .main-content .flexslider .slides li {
    height: 350px; }
    .main-content .flexslider .slides li :first-child {
      width: 100%;
      height: 300px; } }
@media (min-width: 1200px) {
  .main-content .flexslider .slides li {
    height: 400px; }
    .main-content .flexslider .slides li :first-child {
      width: 100%;
      height: 350px; } }

#home-banner .flexslider {
  margin: 0;
  border: none;
  overflow: hidden; }
  #home-banner .flexslider .slides img {
    width: auto;
    display: block; }
  #home-banner .flexslider #slider-controls {
    margin-top: -100px;
    position: relative;
    z-index: 200; }
    #home-banner .flexslider #slider-controls .global-link a {
      color: #fff;
      margin: 0 auto;
      font-size: 1.2rem; }
  #home-banner .flexslider .flex-direction-nav a {
    width: 25px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -15px 0 0;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
    #home-banner .flexslider .flex-direction-nav a::before {
      font-size: 30px; }
  #home-banner .flexslider .flex-direction-nav .flex-next {
    right: 15px; }
  #home-banner .flexslider .flex-direction-nav .flex-prev {
    display: none; }
  #home-banner .flexslider .flex-control-nav {
    width: auto;
    position: absolute;
    top: 0;
    right: 45px; }
  @media (max-width: 767px) {
    #home-banner .flexslider .flex-control-nav,
    #home-banner .flexslider .flex-direction-nav {
      display: none; } }
  #home-banner .flexslider .flex-control-paging li a {
    color: transparent;
    background: rgba(0, 0, 0, 0.5); }
    #home-banner .flexslider .flex-control-paging li a.flex-active {
      background: #fff; }
#home-banner .item-container {
  height: 435px;
  background: url(../images/slideshows/background1_0.jpg) 50% 50% no-repeat;
  background-size: cover; }
  #home-banner .item-container .texts h1 {
    padding: 0;
    font-size: 3.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0; }
  #home-banner .item-container .texts h3 {
    font-size: 2.3rem;
    color: #fff; }
  #home-banner .item-container .texts .item-link {
    background: rgba(0, 0, 0, 0.5); }
    #home-banner .item-container .texts .item-link a {
      color: #fff;
      display: inline-block;
      font-size: 1.4rem; }
  #home-banner .item-container .img .item-image {
    display: inline-block;
    text-align: right; }
  @media (max-width: 767px) {
    #home-banner .item-container .img .item-image {
      width: 60%;
      display: inline-block; } }
#home-banner .item-container-1 {
  background-image: url(../images/slideshows/background2.jpg); }
#home-banner .item-container-2 {
  background-image: url(../images/slideshows/background3.jpg); }
#home-banner .item-container-3 {
  background-image: url(../images/slideshows/background4.jpg); }
#home-banner .item-container-4 {
  background-image: url(../images/slideshows/background5.jpg); }

.content-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #5c8727;
  font-size: 18px;
  font-size: 1.8rem; }

.text-italic {
  font-style: italic; }

.block-title {
  font-size: 2.8rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 300; }

#ondeck {
  margin: 45px 0; }
  #ondeck .flexslider {
    margin-top: 10px;
    margin-bottom: 0px; }
    #ondeck .flexslider .slides li {
      height: 200px; }
      #ondeck .flexslider .slides li .slide-box {
        border: 1px solid #707272;
        padding: 15px;
        height: 100%;
        overflow: hidden; }
        #ondeck .flexslider .slides li .slide-box h2 {
          color: #111;
          font-size: 1.1rem;
          text-transform: uppercase;
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #ondeck .flexslider .slides li .slide-box a {
          font-size: 1.4rem;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #ondeck .flexslider .slides li .slide-box .box-content img {
          max-width: 108px;
          max-height: 90px;
          width: 108px;
          height: 90px; }
        #ondeck .flexslider .slides li .slide-box .box-content span {
          overflow: hidden; }
    #ondeck .flexslider .flex-direction-nav a {
      height: 45px;
      transition: none; }

#services {
  width: 100%;
  height: 380px;
  background: url(../images/services.jpg) center top no-repeat; }

body[data-page="index"] .page-footer {
  margin-top: 0; }

.page-footer {
  margin-top: 45px;
  padding: 40px 0;
  background: #EBEAE8; }
  .page-footer a {
    color: #8A8A8A; }
  .page-footer .col-lg-3 {
    padding-right: 5px; }
  .page-footer .footer-nav-item .link-hover:hover {
    cursor: pointer;
    text-decoration: none !important;
    background-color: #eee; }
    .page-footer .footer-nav-item .link-hover:hover a {
      text-decoration: none !important; }
  .page-footer .footer-nav-item :first-child {
    margin-bottom: 5px; }
  .page-footer .copyright {
    margin-top: 10px;
    font-size: 1.2rem; }

.portfolio-container .portfolio-control .controls a {
  cursor: pointer;
  color: #fff;
  background-color: #a6a6a6;
  border-color: #999999; }
.portfolio-container .portfolio-control .controls a.mixitup-control-active,
.portfolio-container .portfolio-control .controls a.active,
.portfolio-container .portfolio-control .controls a:active,
.portfolio-container .portfolio-control .controls a:focus {
  background-color: #5c8727;
  box-shadow: 0 0 0 0.2rem #598326;
  border-color: #577f25; }
.portfolio-container .portfolio-content .item {
  height: 390px;
  background: #eeedeb; }
  .portfolio-container .portfolio-content .item .item-box {
    margin: 0;
    border: 1px solid #a3a4a4; }
    .portfolio-container .portfolio-content .item .item-box h4 {
      background: #fff; }
      .portfolio-container .portfolio-content .item .item-box h4 a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold; }
    .portfolio-container .portfolio-content .item .item-box .item-image {
      text-decoration: none;
      color: #527c23;
      display: inline-block;
      height: 155px;
      width: 100%; }
      .portfolio-container .portfolio-content .item .item-box .item-image img {
        width: 100%;
        max-height: 100%; }
  .portfolio-container .portfolio-content .item .item-desc .client,
  .portfolio-container .portfolio-content .item .item-desc .nature-of-work {
    text-transform: uppercase;
    font-size: 1.2rem; }

.portfolio-sidebar .fancybox .fancy-background-box {
  background: #eeedeb; }
.portfolio-sidebar .fancybox h4 {
  color: #0f72a7;
  font-size: 1.2rem; }

.news .news-items .news-item {
  border-bottom: 1px solid #ccc; }
  .news .news-items .news-item.featured {
    background: #eee; }
    .news .news-items .news-item.featured a {
      height: 250px; }
  .news .news-items .news-item a {
    height: 140px; }
    .news .news-items .news-item a img {
      max-height: 100%; }
  .news .news-items .news-item .title {
    font-weight: bold;
    font-size: 1.5rem; }

.blogs .blogs-items .blogs-item {
  border-bottom: 1px solid #ccc; }
  .blogs .blogs-items .blogs-item a {
    height: 140px; }
    .blogs .blogs-items .blogs-item a img {
      max-height: 100%; }
  .blogs .blogs-items .blogs-item .title {
    font-weight: bold;
    font-size: 1.5rem; }

#page-container .news-sidebar .fancybox .fancy-title {
  background: #606060; }

.pagination .page-item .page-link {
  color: #5c8727; }
.pagination .page-item.active .page-link {
  color: #ffffff;
  background: #5c8727;
  border-color: #5c8727; }

.clients strong,
.capability strong {
  color: #606060; }

.client-items .client-item {
  display: block;
  height: 125px;
  background-position: 0 top;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  overflow: hidden; }
  .client-items .client-item:hover {
    background-position: 0 bottom; }
.client-items .client-item-1 {
  background-image: url(../images/client/1.jpg); }
.client-items .client-item-2 {
  background-image: url(../images/client/2.jpg); }
.client-items .client-item-3 {
  background-image: url(../images/client/3.jpg); }
.client-items .client-item-4 {
  background-image: url(../images/client/4.jpg); }
.client-items .client-item-5 {
  background-image: url(../images/client/5.jpg); }
.client-items .client-item-6 {
  background-image: url(../images/client/6.jpg); }

.capability-items .capability-item {
  border-color: #5c8727 !important;
  border-bottom-color: transparent;
  margin-bottom: 0; }
  .capability-items .capability-item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    height: 55px;
    overflow: hidden; }
  .capability-items .capability-item .img-container {
    height: 165px;
    overflow: hidden; }
    .capability-items .capability-item .img-container a {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block; }
      .capability-items .capability-item .img-container a img {
        width: 100%;
        max-height: 100%;
        height: 100%; }
      .capability-items .capability-item .img-container a span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent; }
  .capability-items .capability-item:hover a {
    background: #5c8727;
    color: #fff; }
  .capability-items .capability-item:hover .img-container a span {
    background: rgba(92, 135, 39, 0.6); }

.user-social a:hover,
.social-links a:hover {
  text-decoration: none; }
.user-social .user a:hover,
.social-links .user a:hover {
  text-decoration: underline; }

#accordion .card .card-header a[data-toggle="collapse"] {
  color: #606060; }
  #accordion .card .card-header a[data-toggle="collapse"]:hover {
    text-decoration: none; }

.form-check-input {
  margin-left: 0; }

#page-container .course-sidebar .sidebar-module {
  border: none;
  border-left: 1px solid #ddd; }
  #page-container .course-sidebar .sidebar-module .fancy-items h3 {
    width: 100%;
    margin-bottom: 6px;
    padding: 7px 10px;
    background: #5c8727;
    color: #fff;
    margin-bottom: 10px;
    text-align: center; }
  #page-container .course-sidebar .sidebar-module .fancy-items form input, #page-container .course-sidebar .sidebar-module .fancy-items form textarea {
    border-radius: 0; }
    #page-container .course-sidebar .sidebar-module .fancy-items form input:focus, #page-container .course-sidebar .sidebar-module .fancy-items form textarea:focus {
      box-shadow: 0 0 0 0.2rem rgba(134, 202, 140, 0.5); }
  #page-container .course-sidebar .sidebar-module .fancy-items form button {
    border-radius: 0;
    width: 100%;
    margin-bottom: 6px;
    padding: 7px 10px;
    background: #5c8727;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer; }
    #page-container .course-sidebar .sidebar-module .fancy-items form button:active, #page-container .course-sidebar .sidebar-module .fancy-items form button:focus {
      box-shadow: 0 0 0 0.2rem rgba(134, 202, 140, 0.5); }

/*# sourceMappingURL=style.css.map */
